<div id="container" tableSizer>
	<h2>{{ title }}</h2>
	@if (metrics) {
		<table #metricsTable id="metricsTable">
			<thead>
				<tr>
					<th>Metric</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody class="data">
				@if (metrics?.metrics?.uctr !== undefined) {
					<tr>
						<td class="tooltip">
							U-CTR
							<span class="tooltiptext">
								<p>Unique Click-Through Rate</p>
								<p>unique visitors / reach</p>
							</span>
						</td>
						<td>{{ metrics.metrics.uctr }}%</td>
					</tr>
				}
				@if (metrics?.metrics?.gctr !== undefined) {
					<tr>
						<td class="tooltip">
							G-CTR
							<span class="tooltiptext">
								<p>Global Click-Through Rate</p>
								<p>page visits / views</p>
							</span>
						</td>
						<td>{{ metrics.metrics.gctr }}%</td>
					</tr>
				}
				<tr>
					<td class="tooltip">
						Conversion Rate
						<span class="tooltiptext">
							<p>Conversion Rate</p>
							<p>cta clicks / unique visitors</p>
						</span>
					</td>
					<td>{{ metrics.metrics.conversion }}%</td>
				</tr>
				<tr>
					<td>Bounce Rate</td>
					<td>{{ metrics.metrics.bounce }}%</td>
				</tr>
				@if (metrics?.metrics?.engagement !== undefined) {
					<tr>
						<td>Engagement Timespan</td>
						<td>
							{{ metrics.metrics.engagement }}
							@if (metrics.metrics.engagement != 1) {
								seconds
							} @else {
								second
							}
						</td>
					</tr>
				}
				<tr>
					<td>Page Visits</td>
					<td>
						{{ metrics.metrics.visits }}
						@if (metrics.metrics.visits != 1) {
							visits
						} @else {
							visit
						}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: top">Users by Country</td>
					<td>
						<table>
							<tbody id="countryData">
								@if (metrics.data_points.visitors == 0) {
									<div>None</div>
								} @else {
									@for (
										item of metrics.metrics.countryCount;
										track item.country
									) {
										<tr>
											<td>{{ item.country }}</td>
											<td>{{ item.count }}</td>
										</tr>
									}
								}
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>

		<table #dataPoints id="dataPoints">
			<thead>
				<tr>
					<th>Data Point</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody class="data">
				<tr>
					<td>CTA clicks</td>
					<td>
						{{ metrics.data_points.cta_clicks }}
						@if (metrics.metrics.clicks != 1) {
							clicks
						} @else {
							click
						}
					</td>
				</tr>
				<tr>
					<td>Unique Visitors</td>
					<td>
						{{ metrics.data_points.visitors }}
						@if (metrics.data_points.visitors != 1) {
							visitors
						} @else {
							visitor
						}
					</td>
				</tr>
				<tr>
					<td>Engagement Events</td>
					<td>
						{{ metrics.data_points.engagements }}
						@if (metrics.data_points.engagements != 1) {
							events
						} @else {
							event
						}
					</td>
				</tr>
				@if (metrics?.data_points?.reach !== undefined) {
					<tr>
						<td>Social Media Reach</td>
						<td>{{ metrics.data_points.reach }}</td>
					</tr>
				}
				@if (metrics?.data_points?.views !== undefined) {
					<tr>
						<td>Social Media Views</td>
						<td>{{ metrics.data_points.views }}</td>
					</tr>
				}
			</tbody>
		</table>
	} @else {
		<p>Loading metrics...</p>
	}

	<!-- @if (title === "Last 30 Minutes") {
		<button #updateBtn id="updateBtn" (click)="last30Minutes()">
			update data
		</button>
	} -->
</div>
