<div id="container">
	<h2>{{ title }}</h2>
	<table>
		<thead>
			<tr>
				<th>Metric</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Click-Through Rate</td>
				<td>10%</td>
			</tr>
			<tr>
				<td>Conversion Rate</td>
				<td>10%</td>
			</tr>
			<tr>
				<td>Bounce Rate</td>
				<td>10%</td>
			</tr>
			<tr>
				<td>Engagement Timespan</td>
				<td>10%</td>
			</tr>
			<tr>
				<td>Page Visits</td>
				<td>10%</td>
			</tr>
			<tr>
				<td style="vertical-align:top">Country Count</td>
				<td>
					<table>
						<tbody>
							<tr>
								<td>USA</td>
								<td>10</td>
							</tr>
							<tr>
								<td>Canada</td>
								<td>5</td>
							</tr>
							<tr>
								<td>Saudi Arabia</td>
								<td>3</td>
							</tr>
							<tr>
								<td>USA</td>
								<td>10</td>
							</tr>
							<tr>
								<td>Canada</td>
								<td>5</td>
							</tr>
							<tr>
								<td>Saudi Arabia</td>
								<td>3</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	
	<table id="data-points">
		<thead>
			<tr>
				<th>Data Point</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Click-Through Rate</td>
				<td>10%</td>
			</tr>
			<tr>
				<td>Conversion Rate</td>
				<td>10%</td>
			</tr>
			<tr>
				<td>Bounce Rate</td>
				<td>10%</td>
			</tr>
			<tr>
				<td>Engagement Timespan</td>
				<td>10%</td>
			</tr>
			<tr>
				<td>Page Visits</td>
				<td>10%</td>
			</tr>
			<tr>
				<td>Country Count</td>
				<td>10</td>
			</tr>
		</tbody>
	</table>
</div>
