#container {
	border-radius: 75px;
	background: #e0e0e0;
	box-shadow:
		20px -20px 60px #bebebe,
		-20px 20px 60px #ffffff;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;

	row-gap: 25px;

	width: calc(80vw / 3);
	min-width: 450px;
	min-height: 450px;

	@media (max-width: 500px) {
		width: 90vw;
		min-width: 350px;
	}

	h2 {
		margin: 25px 0 0 0;
		text-align: center;
	}

	table {
		padding: 0 auto;
		text-align: left;
		border-collapse: collapse;

		thead {
			background-color: black;
			color: white;
		}

		tbody {
			font-weight: 550;

			tr {
				border-bottom: 1px solid black;
				border-top: 1px solid black;

				td:first-child {
					border-right: 1px solid black;
				}
			}

			tr:last-child {
				border-bottom: 0;
			}
			
			tr:nth-child(odd) {
				background-color: #c9c9c9;
			}
		}

		#countryData {
			tr {
				background-color: unset;
				
				td:first-child {
					border-right: 0;
				}
			}

			tr:first-child {
				border-top: 0;
			}

			tr:last-child {
				border-bottom: 0;
			}
		}
	}
	
	#dataPoints {
		margin: 0 0 35px 0;
		table-layout: fixed;
	}
}
