h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 50px;
}

#box-container {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
	row-gap: 5vh;

	@media (max-width: 1500px) {
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	@media (max-width: 395px) {
		align-items: flex-start;
	}
}
